# Forzar saltos de línea LF en archivos comunes de proyectos JS
*.js text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.css text eol=lf
*.html text eol=lf

# Para que todos los archivos de texto usen LF
* text=auto eol=lf
